body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Courier New, monospace;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Merriweather Sans, -apple-system, sans-serif;
  box-sizing: border-box;
}

/*
font-family: 'Anton', sans-serif;
font-family: 'Bellota', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Gowun Dodum', sans-serif;
font-family: 'Harmattan', sans-serif;
font-family: 'Inknut Antiqua', serif;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Shizuru', cursive;
font-family: 'Titan One', cursive;
font-family: 'Volkhov', serif;
*/
